*{
	margin: 0px;
	padding: 0;
}
h1{
	text-align: center;
}
.chicken{
	background-color: pink;
	font-size:10px;
}
.beap{
	background-color: maroon;
	opacity: 0.6;
	color:white;
	font-size:10px;
}
.sushi{
	background-color: yellow;
	opacity: 0.6;
	font-size:10px;
}

		
.section{
		background-color: grey;
		width: 30%;
		margin-left: 20px;
		margin-top: 30px;
		height: 55%;
		border: 2px solid black;
		box-sizing: border-box;
		position: relative;


	
	}


.section-title{
		width: 10%;
/* 		float: right; */
		padding: 5px;
		box-sizing: border-box;
		position: absolute;
		top: 0px;
		right: 0px;
	}

.section p{
	margin-top: 30px;
	padding: 10px;
}
@media (min-width:992px) {

	.section{
		float: left;
		width: 30%;
		height: 70%;
	}
	.section-title{
		width: 20%;
	}

}
@media (min-width:768px) and (max-width:991px) {
	body{
		margin-left: 200px;
	}
	.section{
		float: left;


	}
	.tablet{
		clear: both;
		width: 62.7%;
		margin-top: 20px;			
	}
	.section-title{
		width: 30%;
		padding-left: 10px;
	}
}
@media (max-width:767px) {
	.section{
		clear: both;
		margin-top: 20px;
		margin-left: 5%; 
		width: 80%;
		height: 20%;
	}
	.section-title{
		width: 40%;
		padding-left: 10px;
	}
	
}

		
		
